[submodule "src/control_toolbox"]
	path = src/control_toolbox
	url = https://github.com/ros-controls/control_toolbox.git
[submodule "src/graph_msgs"]
	path = src/graph_msgs
	url = https://github.com/davetcoleman/graph_msgs.git
[submodule "src/moveit_visual_tools"]
	path = src/moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools
[submodule "src/realtime_tools"]
	path = src/realtime_tools
	url = https://github.com/ros-controls/realtime_tools.git
[submodule "src/rviz_visual_tools"]
	path = src/rviz_visual_tools
	url = https://github.com/PickNikRobotics/rviz_visual_tools.git