<launch>

  <arg name="debug_mode" default="false"/>
  <arg name="input_cloud" default="/head_mount_kinect2/depth_registered/points"/>
  <arg name="nodelet_manager" default="/head_mount_kinect2/head_mount_kinect2_nodelet_manager"/>
  <arg name="h_max" default="270" />
  <arg name="h_min" default="230" />
  <arg name="s_max" default="256" />
  <arg name="s_min" default="0" />
  <arg name="i_max" default="256" />
  <arg name="i_min" default="0" />

  <node name="image_view_color_filtering"
        pkg="image_view" type="image_view"
        if="$(arg debug_mode)">
    <remap from="image" to="HSI_color_filter/cluster_decomposer/mask"/>
  </node>

  <include file="$(find jsk_pcl_ros)/launch/hsi_color_filter.launch">
    <arg name="INPUT" value="$(arg input_cloud)"/>
    <arg name="h_max" value="$(arg h_max)" />
    <arg name="h_min" value="$(arg h_min)" />
    <arg name="s_max" value="$(arg s_max)" />
    <arg name="s_min" value="$(arg s_min)" />
    <arg name="i_max" value="$(arg i_max)" />
    <arg name="i_min" value="$(arg i_min)" />
  </include>

  <node name="rqt_reconfigure"
        pkg="rqt_reconfigure" type="rqt_reconfigure"
        args="hsv_color_filter">
  </node>

</launch>