<launch>
  <master auto="start"/>
  
  <arg name="gui" default="true"/>
	
  <param name="/use_sim_time" value="true" />

  <!-- start up empty world -->
  <arg name="paused" default="true"/>
  <!-- TODO: throttled not implemented in gazebo_ros/pickplacesimu.launch
  <arg name="throttled" default="false"/>
  -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pickplacedemo)/worlds/pickplace.world"/>
    <!-- more default parameters can be changed here -->
  </include>

  <include file="$(find pr2_gazebo)/launch/pr2.launch"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find pickplacedemo)/map/my_map.yaml">
    <param name="frame_id" value="/odom_combined" />
  </node>

  #<!--- Run AMCL -->
  #<include file="$(find amcl)/examples/amcl_omni.launch" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find pickplacedemo)/navigationcost/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find pickplacedemo)/navigationcost/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find pickplacedemo)/navigationcost/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find pickplacedemo)/navigationcost/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find pickplacedemo)/navigationcost/base_local_planner_params.yaml" command="load" />
  </node>

  <!-- Run moveIt -->
  <include file="$(find pr2_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
   </include>
 # The visualization component of MoveIt!
  <include file="$(find pr2_moveit_config)/launch/moveit_rviz.launch"/>

</launch>