<launch>
	<include file="$(find pickplacedemo)/launch/pickplacesimu.launch" />
	<include file="$(find pickplacedemo)/launch/movebase.launch" />
	<include file="$(find pickplacedemo)/launch/moveIt.launch" />
	<include file="$(find pickplacedemo)/launch/vision_ar_track.launch" />
	<node pkg="actioncontroller" name="ActionController" type="ActionController" />
</launch>