<launch>
	<include file="$(find pickplacedemo)/launch/pickplacesimu.launch" />
	<include file="$(find pickplacedemo)/launch/movebase.launch" />
	<include file="$(find pickplacedemo)/launch/moveIt.launch" />
	<include file="$(find pickplacedemo)/launch/tilt_cloud.launch"/>
	<include file="$(find pickplacedemo)/launch/planner.launch"/>
</launch>